{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Artur Vitório Andrade Santos">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <link href="{% static 'css/lic.css' %}" rel="stylesheet">
        <!-- CSS adicional -->
        
</head>

<body>
    <div class="limiter">
        

            

{% block content %}{% endblock  %}


        
    </div>
    
</body>

</html>