<!-- templates/criar_mensagem.html -->
{% extends 'dashboard/base_dashboard.html' %}

{% load static %}

{% block content %}


<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Criar Dispositivos</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Criar dispositivo</h2>
            <div class="col-md-2">
              <h2>{{ view.object.pk|yesno:"Editar,Adicionar" }} Dispositivo</h2>
            </div>
            <div class="clearfix"></div>
          </div>
 
          <div class="x_content">
            
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}