{% extends 'dashboard/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="conteiner mt-4">
    <h3 class="display-4">Editar Dispositivo</h3>
    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar Dispositivo</button>
            </form>
        </div>
    </div>
    <a href="{% url 'lista-dispositivos' %}" class="btn btn-secondary mt-3">Voltar para lista de dispositivos</a>
</div>

{% endblock %}