{% extends 'dashboard/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="conteiner mt-4">
    <h3 class="display-4">Deletar dispositivo</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza de que deseja excluir o dispositivo <strong> {{ object.nome }}</strong></p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Deletar</button>
            </form>

            <a href="{% url 'lista-dispositivos' %}" class="btn btn-secondary mt-3">Voltar para lista de dispositivos</a>
        </div>

    </div>

</div>

{% endblock %}