{% extends 'dashboard/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="conteiner mt-4">
    <h3 class="display-4">Editar Paciente</h3>
    <a href="{% url 'criar-dispositivos' %}" class="btn btn-secondary mt-3">Novo dispositivo</a>
    <div class="card">
        <div class="card-body">

            {% for d in object_list %}
            <li>
                <strong>{{ d.nome }}</strong> - {{ d.identificador }}
                <span id="status-{{ d.identificador }}">
                    {% if d.esta_online %}
                    <span style="color: green;">🟢 Online</span>
                    {% else %}
                    <span style="color: red;">🔴 Offline</span>
                    {% endif %}
                </span>
                <a href="{% url 'editar-dispositivos' d.pk %}" class="btn btn-secondary mt-3">Editar</a>
                <a href="{% url 'deletar-dispositivos' d.pk %}" class="btn btn-secondary mt-3">Remover</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>



{% endblock %}