{% extends 'dashboard/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
        <h1 class="h3 fw-bold d-flex align-items-center">
            <i class="bi bi-bar-chart-fill me-2 text-primary"></i>
            Painel de Variáveis
        </h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="input-group mb-3 mt-3" style="max-width: 300px;">
                <button id="btn-setpoint" type="button" class="btn btn-secondary">Setar Setpoint</button>
                <input type="number" id="input-sp" class="form-control" placeholder="Setpoint" />
            </div>

            <!-- ATUADOR 1 (servo) -->
            <div class="input-group mb-3" style="max-width: 420px;">
                <button id="btn-a1-on"  type="button" class="btn btn-success">Atuador 1 ON</button>
                <button id="btn-a1-off"  type="button" class="btn btn-danger ms-2">Atuador 1 OFF</button>
                <input type="number" id="input-a1-ang" class="form-control ms-2" placeholder="Ângulo (0-180)" />
                <button id="btn-a1-ang" class="btn btn-primary ms-2">Enviar Ângulo</button>
            </div>


            <!-- ATUADOR 2 (trava/relé), opcional: por dispositivo -->
            <div class="input-group mb-3" style="max-width: 420px;">
                <input type="text" id="input-ident" class="form-control"
                    placeholder="Ident (opcional p/ alvo específico)" />
                <button id="btn-a2-on"  type="button" class="btn btn-success ms-2">Atuador 2 ON</button>
                <button id="btn-a2-off" type="button" class="btn btn-danger ms-2">Atuador 2 OFF</button>
            </div>
            <hr>

            <div class="row" id="dados-sensores">
                <div class="col-md-3">
                    <div class="card border-primary mb-3">
                        <div class="card-header">🌡️ Temperatura</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title" id="card-temperature">-- °C</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-success mb-3">
                        <div class="card-header">💧 Umidade</div>
                        <div class="card-body text-success">
                            <h5 class="card-title" id="card-umidade_ambiente">-- %</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-warning mb-3">
                        <div class="card-header">🔆 Luminosidade</div>
                        <div class="card-body text-warning">
                            <h5 class="card-title" id="card-luminosidade">-- lux</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-info mb-3">
                        <div class="card-header">⚙️ Controle</div>
                        <div class="card-body text-info">
                            <h5 class="card-title" id="card-controlador">--</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-info mb-3">
                        <div class="card-header">⚙️ Temp Termistor</div>
                        <div class="card-body text-info">
                            <h5 class="card-title" id="card-temp_termistor">--</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-info mb-3">
                        <div class="card-header">⚙️ Error</div>
                        <div class="card-body text-info">
                            <h5 class="card-title" id="card-erro">--</h5>
                        </div>
                    </div>
                </div>
            </div>
            </ul>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">

            <!-- Título centralizado -->
            <h4 class="card-title text-center mb-4">Temperatura em Tempo Real</h4>

            <!-- Botões de tempo -->
            <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
                <button type="button" class="btn btn-outline-secondary" onclick="setTimeRange('1m')">1
                    minuto</button>
                <button type="button" class="btn btn-outline-secondary" onclick="setTimeRange('15m')">15
                    min</button>
                <button type="button" class="btn btn-outline-secondary" onclick="setTimeRange('1h')">1 hora</button>
                <button type="button" class="btn btn-outline-secondary" onclick="setTimeRange('1d')">1 dia</button>
                <button type="button" class="btn btn-outline-secondary" onclick="setTimeRange('1M')">1 mês</button>
                <button type="button" class="btn btn-outline-dark" onclick="setTimeRange(null)">Tudo</button>
            </div>

            <!-- Canvas do gráfico -->
            <div class="chart-container">
                <canvas id="chart-temperature" style="width: 100%; height: 300px;"></canvas>
            </div>

        </div>
    </div>



    {% endblock %}