{% extends 'dashboard/base_dashboard.html' %}

{% load static %}



{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Sistema de Monitoramento</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <ul>

                            <button id="btn-setpoint">Setar Setpoint</button>
                            <input type="number" id="input-sp" />

                            <hr>
                                
                            <div class="row" id="dados-sensores">
                                <div class="col-md-3">
                                    <div class="card border-primary mb-3">
                                        <div class="card-header">🌡️ Temperatura</div>
                                        <div class="card-body text-primary">
                                            <h5 class="card-title" id="card-temperature">-- °C</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card border-success mb-3">
                                        <div class="card-header">💧 Umidade</div>
                                        <div class="card-body text-success">
                                            <h5 class="card-title" id="card-umidade_ambiente">-- %</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card border-warning mb-3">
                                        <div class="card-header">🔆 Luminosidade</div>
                                        <div class="card-body text-warning">
                                            <h5 class="card-title" id="card-luminosidade">-- lux</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card border-info mb-3">
                                        <div class="card-header">⚙️ Controle</div>
                                        <div class="card-body text-info">
                                            <h5 class="card-title" id="card-controlador">--</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card border-info mb-3">
                                        <div class="card-header">⚙️ Temp Termistor</div>
                                        <div class="card-body text-info">
                                            <h5 class="card-title" id="card-temp_termistor">--</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-info mb-3">
                                    <div class="card-header">⚙️ Error</div>
                                    <div class="card-body text-info">
                                        <h5 class="card-title" id="card-erro">--</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-info mb-3">
                                    <div class="card-header">⚙️ Status</div>
                                    <div class="card-body text-info">
                                        <h5 class="card-title" id="card-status">--</h5>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}