{% extends 'dashboard/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="conteiner mt-4">
    <h3 class="display-4">Painel de Variáveis</h3>
    <div class="card">
        <div class="card-body">
            <button id="btn-setpoint" class="btn btn-secondary mt-3">Setar Setpoint</button>
            <input type="number" id="input-sp" />

            <hr>

            <div class="row" id="dados-sensores">
                <div class="col-md-3">
                    <div class="card border-primary mb-3">
                        <div class="card-header">🌡️ Temperatura</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title" id="card-temperature">-- °C</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-success mb-3">
                        <div class="card-header">💧 Umidade</div>
                        <div class="card-body text-success">
                            <h5 class="card-title" id="card-umidade_ambiente">-- %</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-warning mb-3">
                        <div class="card-header">🔆 Luminosidade</div>
                        <div class="card-body text-warning">
                            <h5 class="card-title" id="card-luminosidade">-- lux</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-info mb-3">
                        <div class="card-header">⚙️ Controle</div>
                        <div class="card-body text-info">
                            <h5 class="card-title" id="card-controlador">--</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-info mb-3">
                        <div class="card-header">⚙️ Temp Termistor</div>
                        <div class="card-body text-info">
                            <h5 class="card-title" id="card-temp_termistor">--</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-info mb-3">
                        <div class="card-header">⚙️ Error</div>
                        <div class="card-body text-info">
                            <h5 class="card-title" id="card-erro">--</h5>
                        </div>
                    </div>
                </div>
            </div>

            </ul>
        </div>

        <h2>Temperatura em Tempo Real</h2>
        <canvas id="chart-temperature" width="600" height="300"></canvas>
        <div>
            <button type="button" onclick="setTimeRange('1m')">1 minuto</button>
            <button type="button" onclick="setTimeRange('15m')">15 min</button>
            <button type="button" onclick="setTimeRange('1h')">1 hora</button>
            <button type="button" onclick="setTimeRange('1d')">1 dia</button>
            <button type="button" onclick="setTimeRange('1M')">1 mês</button>
            <button type="button" onclick="setTimeRange(null)">Tudo</button>
          </div>
    </div>
</div>


{% endblock %}