<ul class="nav nav-pills flex-column w-100" id="menu">
  <!-- Itens principais -->
  <li class="nav-item">
    <a href="{% url 'homedashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'homedashboard' %}active{% endif %}">
      <i class="bi bi-calendar4-week me-2"></i>
      Agendamento
    </a>
  </li>

  <li class="nav-item">
    <a href="{% url 'sistema-monitoramento' %}" class="nav-link {% if request.resolver_match.url_name == 'sistema-monitoramento' %}active{% endif %}">
      <i class="bi bi-pc-display-horizontal me-2"></i>
      Sistema de Monitoramento
    </a>
  </li>

  <li class="nav-item">
    <a href="{% url 'lista-dispositivos' %}" class="nav-link {% if request.resolver_match.url_name == 'lista-dispositivos' %}active{% endif %}">
      <i class="bi bi-hdd-network me-2"></i>
      Listar Dispositivos
    </a>
  </li>

  <!-- Novo item com submenu fixo -->
  <li class="nav-item">
    <a class="nav-link d-flex justify-content-between align-items-center {% if request.resolver_match.url_name in 'listar-acesso cadastrar-cartao' %}active{% endif %}"
       data-bs-toggle="collapse" href="#submenuAcesso" role="button"
       aria-expanded="{% if request.resolver_match.url_name in 'listar-acesso cadastrar-cartao' %}true{% else %}false{% endif %}"
       aria-controls="submenuAcesso">
      <span><i class="bi bi-lock me-2"></i> Controle de Acesso</span>
      <i class="bi bi-chevron-down small"></i>
    </a>
    <div class="collapse {% if request.resolver_match.url_name in 'listar-acesso cadastrar-cartao' %}show{% endif %}" id="submenuAcesso">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-4">
        <li>
          <a href="{% url 'controle_acesso:evento_filter' %}" class="nav-link {% if request.resolver_match.url_name == 'listar-acesso' %}active text-primary fw-bold{% endif %}">
            <i class="bi bi-card-list me-2"></i> Listar Acesso
          </a>
        </li>
        <li>
          <a href="{% url 'controle_acesso:cartao_list' %}" class="nav-link {% if request.resolver_match.url_name == 'cadastrar-cartao' %}active text-primary fw-bold{% endif %}">
            <i class="bi bi-person-plus me-2"></i> Cadastrar Cartão
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
