<div class="row flex-nowrap">
  <div class="d-flex flex-column align-items-start px-3 pt-3 min-vh-100">
    <div class="d-flex flex-column align-items-start px-3 pt-3 min-vh-100">
      <!-- Botão para colapsar menu em telas pequenas -->
      <button class="btn btn-outline-secondary d-block d-sm-none mb-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#menuCollapse" aria-expanded="false" aria-controls="menuCollapse">
        <i class="bi bi-list fs-4"></i>
      </button>
      <div class="collapse d-sm-block w-100" id="menuCollapse">
        <ul class="nav nav-pills flex-column w-100" id="menu">
          <li class="nav-item">
            <a href="{% url 'homedashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'homedashboard' %}active{% endif %}">
              <i class="bi bi-calendar4-week me-2"></i>
              Agendamento
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'sistema-monitoramento' %}" class="nav-link {% if request.resolver_match.url_name == 'sistema-monitoramento' %}active{% endif %}">
              <i class="bi bi-pass-fill me-2"></i>
              Sistema de Monitoramento
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'lista-dispositivos' %}" class="nav-link {% if request.resolver_match.url_name == 'lista-dispositivos' %}active{% endif %}">
              <i class="bi bi-pass-fill me-2"></i>
              Listar Dispositivos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
