{% extends 'site/modelo_site.html' %}

{%load static}

{% block content %}
<h3 class="text black text-center my-5 my-xl-5">Página de Controle de Sensores e Atuadores</h3>
<h2 class="text-center my-5 my-xl-5">Atuadores</h2>
<div class="row">
  <div class="col-6 col-md-4 col-xxl-4">
    <div class="card rounded-0 border-0">
      <div class="card-header bg-dark-gray text-bg-white">
        <p class="text-center card-text">
          
          <h1>Controle de Variável</h1>

          <button class="action-button btn btn-success" data-action="ligar_motor">Ligar</button>
          <button class="action-button btn btn-danger" data-action="desligar_motor">Desligar</button>
          
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script>
              $(document).ready(function() {
                  $('.action-button').click(function() {
                      var action = $(this).data('action');
                      $.ajax({
                          url: "{% url 'control_variable' %}",
                          method: 'POST',
                          headers: {'X-CSRFToken': '{{ csrf_token }}'},
                          data: {'action': action},
                          // success: function(data) {
                          //     if (data.status === 'success') {
                          //         alert('Variável ' + action + ' com sucesso!');
                          //     } else {
                          //         alert('Falha ao ' + action + ' a variável!');
                          //     }
                          // },
                          error: function() {
                              alert('Erro ao processar a solicitação.');
                          }
                      });
                  });
              });
          </script>  

          <!-- Adicione mais botões conforme necessário -->
        
        </p>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 col-xxl-4">
    <div class="card rounded-1 border-0">
      <div class="card-header bg-dark-gray text-bg-white">
        <p class="text-center card-text">
          <h1>Acionamento Fans</h1>
          <button class="action-button btn btn-success" data-action="ligar_led">Ligar</button>
          <button class="action-button btn btn-danger" data-action="desligar_led">Desligar</button>
        </p>
      </div>
    </div>
  </div>
</div>

</div>



<!-- <h2 class="text-center my-3 my-xl-5">Sensores</h2>

<div class="col-6 col-md-4 col-xxl-2">
  <div class="card rounded-0 border-0">
    <div class="card-header bg-black text-bg-dark">
      <p class="text-center card-text">
        <h1>Colocar feedback atuadores</h1>
      </p>
    </div>
  </div>
</div>
</div> -->

{% endblock %}