{% extends 'site/modelo_site.html' %}

{% load static %}


{% block conteudo %}
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Introdução a Robótica</h2>
                            <p class="lead fw-normal text-muted mb-0">Planejamento</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Introdução a Engenharia de Controle e Automação</h2>
                            <p class="lead fw-normal text-muted mb-0">Planejamento</p>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}